* {
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    width: 700px;
}

h2 {
    text-align: center;
}

input.id, #data, select {
    width: 190px;
    float: left;
    margin: 0 10px 10px 0;
    cursor: text;
}

#sexo {
    cursor: pointer;
}

label {
    display: inline-block;
    width: 140px;
    margin: 0 0 10px 10px;
    float: left;
}

input {
    width: 540px;
    height: 35px;
    margin: 0 10px 10px 0;
}

.civil {
    width: 75px;
    height: 25px;
    cursor: pointer;
}

#botoes {
    margin: 0 auto;
    width: 260px;
}

.btn {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}