th, td{
border-bottom: 1px #16048c solid;
border-top: 1px #16048c solid;     
}

table {
    border-collapse: collapse; /*Para unir as bordas*/
    width: 300px;
    border: 1px #16048c solid;
}

th {
    height: 50px;
    background-color: #0c0cc9;
    color: #ffffff;
}

td {
    height: 40px;
    text-align: left;
    padding-left: 10px;
    /* vertical-align: bottom; */
    
}

td.nome {
    background-color: #f5f0aa;
}

td:hover {
    background-color: #b8d665;
    color: #ffffff;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #aaeaf5;
}