* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 960px;
    background-color: antiquewhite;
    margin: 0 auto;
}

#banner {
    height: 90px;
    background-color: #000000;
    text-align: center;
    padding-top: 5px;
    color: #ffffff;
    float: left;
    width: 100%;
}

#menu {
    height: 50px;
    background-color: #8c00ff;
    color: #ffffff;
    text-align: center;
    padding-top: 1px;
    font-weight: bold;
    font-size: 18px;
    float: left;
    width: 100%;
}

#esquerda {
    width: 30%;
    height: 400px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

#direita {
    width: 70%;
    height: 400px;
    background-color: #5c5c5c;
    color: #ffffff;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

#rodape {
    height: 50px;
    width: 100%;
    background-color: #d6a4ff;
    text-align: center;
    padding-top: 1px;
    float: left;
}

