table {
    border: 1px #DDDDDD solid;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #666666;
}

th.numberPodio, th#numberFour, th.number, th.numberPre, th.numberLast {
    font-size: 18px;
    width: 50px;
}

tr.line {
    border-bottom: #CCCCCC 2px solid;
}

tr {
    border-bottom: 1px #DDDDDD solid;
    border-top: 1px #DDDDDD solid;
}

th {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    height: 25px;
}

th#porcentagem {
    width: 50px;
}

th.numberPodio {
    color: #003366;
}

th#numberFour {
    color: #1398BE;
}

th.number {
    color: #DE9800;
}

th.numberPre {
    color: #CCCCCC;
}

th.numberLast {
    color: #C91B04;
}

td {
    width: 40px;
    height: 30px;
}

td.team {
    font-weight:bold;
    text-align: left;
    width: 35%;
}

td.point {
    color: #000000;
    font-weight:bold;
}

td#footer {
    font-size: 10px;
    color: #555555;
    text-align: left;
    padding: 8px;
}

div#class{
    color: #8F8F8F;
    display: flex;
}

div#lib, div#plib, div#sul, div#reb {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

div#lib {
    background-color: #003366;
}

div#plib {
    background-color: #1398BE;
}

div#sul {
    background-color: #DE9800;
}

div#reb {
    background-color: #C91B04;
}

div.text{
    margin-right: 8px;
    margin-left: 8px;
}

td:nth-child(odd) {
    background-color: #F7F7F7;
}
