body {
    background-color: #ffe4c4;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0000ff;
}

h2 {
    color: #ff0000;
}